.main-page {
  &__wrapper {
    background-image: url("../assets/images/bg-mb.jpg");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: $c-desert-sand;

    @media (min-width: $media-dt) {
      background-image: url("../assets/images/bg-dt.jpg");
      background-size: contain;
    }
  }
}
