// font
$inter: "Inter", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;
$c-mine-shaft: #333333;
$c-grey: #828282;
$c-almond: #eddac6;
$c-red-orange-1: #ff2c2c;
$c-red-orange-2: #ff272b;
$c-gossamer: #089c84;

// width
$w-layout-mb: 360px;
$w-layout-tb: 720px;
$w-layout-dt: 978px;
$w-site-wrapper-mb: 340px;
$w-site-wrapper-tb: 700px;
$w-site-wrapper-dt: 958px;

// margin

// @media
$media-dt: 1024px;
$media-tb: 720px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
