// font
$inter: "Inter", "Arial", sans-serif;

// color
$c-white: #ffffff;
$c-black: #000000;
$c-mine-shaft: #333333;
$c-grey: #828282;
$c-desert-sand: #f3d4c3;
$c-red-orange-1: #ff2c2c;
$c-red-orange-2: #ff272b;
$c-gossamer: #089c84;
$c-surfie-green: #118976;

// width
$w-layout-mb: 480px;
$w-layout-tb: 768px;
$w-layout-dt: 1920px;
$w-site-wrapper-mb: 320px;
$w-site-wrapper-tb: 660px;
$w-site-wrapper-dt: 1140px;

// @media
$media-dt: 1024px;
$media-tb: 768px;
$media-mb-1: 480px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
